{% extends 'base.html' %}

{% block body %}
    
    <form action="{{url_for('home')}}" method="POST">
                <h4 style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Hello to Your Words: </h4>
                <hr>
                <p>
                    <b>So, how this works is, you have to type a message which you want to display or convey to someone you want.
                    You can write any message you want in the textbox provided below.</b>
                </p>
                <div>
                    Select an image from below to choose your best background-image
                    <div style="display: flex">
                        {% for image in imagesList %}
                        
                            {% if '.jpeg' in image %}
                            
                                <div style="margin: 8px;">
                                    <img style="width: 300px;height: 300px;" src="../static/images/{{image}}">
                                    <form action="{{ url_for('backgroundselection', img_name=image)}}", method="POST">
                                        <button>Select</button>
                                    </form>
                                </div>
                            
                            {% endif %}
                        {% endfor %}
                    
                    </div>
                    
                </div>
                <!--For text color -->
                <div style="display: flex">
                    <!--For the message -->
                    <div style="margin: 10px;margin-left: 40%" class="wrap-input100 validate-input ">
                        <input class="input100 has-val"  type="text" name="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Message</span>
                    </div>
                </div>
                <!--for the submit button-->
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Submit
                    </button>
                </div>
                <br>
                <!-- For the message display -->
                {% if length != None %}
                <div style="display: flex;flex-wrap: wrap;">
                    {% for i in fetchedList %}
                        <div class="fetchllist onhover">
                            <h4>{{ i.message }}</h4>
                            <h5 style="padding-top: 130px;">By, {{ i.loginuser }}</h5>
                        </div>
                        <form action="{{ url_for('delete_post', id=i.id)}}" method="POST">
                            <div>
                                <button>Delete</button>
                            </div>
                        </form>
                        
                    {% endfor %}
                </div>                
                {% endif %}         
    </form>
{% endblock %}