{% extends 'base.html' %}

{% block body %}
<style>
    .button {
        display: none;
    }

    .wrapper:hover .button {
        display: inline-block;
    }
</style>

<p style="font-family: fantasy; font-size: x-large; color: tomato;text-align: center;">Recently updated messages:
    Wanna add your favourite message, or share what's on your mind? Feel free to move to the Status Update Tab.</p>
<br><br>

<!-- For the message display -->
{% if length != None %}
<div style="display: flex;flex-wrap: wrap;flex-direction: row;">
    {% for i in fetchedList %}
    <div style="display: flex;flex-direction: column;padding: 2%;">
        <h3 style="color: powderblue;">{{ i.loginuser.capitalize() }} updated Status: </h3> 
        <br>
        <div style="background-image: url('/static/images/{{ i .backgroundimage }}');background-size: cover;text-align:center; color: blanchedalmond;border-radius:10px;width: 300px;height: 300px;;">
            <div style="text-align:center;margin: 40%;">
                <h3>{{ i.message }}</h3>
            </div>
            <div style="display: flex;flex-direction: row; justify-content: space-between; ">
                <div >
                    <form action="{{ url_for('delete_post', id=i.id ) }}" method="GET">
    
                        {% if i.loginuser == username %}
                        <button class="btn " style="margin: 2px;"><img style="height: 30px;width: 30px;" src='/static/images/trash.svg'></button>
                        {% endif %}
                    </form>
                </div>
                <div>
                    <form action="{{ url_for('like_post',id=i.id) }}" method="GET">
                        <button class="btn " style="margin: 2px;"><img style="height: 30px;width: 30px; display: inline;" src='/static/images/like.svg'><h3 style="height: 30px;width: 30px; padding-top: 4px; display: inline;">{{ i.likecount }}</h3></button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    {% endfor %}
</div>
{% endif %}
{% endblock %}