{% extends 'base.html' %}

{% block body %}
    <p style="font-family: fantasy; font-size: x-large; color: tomato;text-align: center;">Recently updated messages:
        Wanna add your favourite message, or share what's in your mind? Please feel free to move to the Status Update Tab.</p>
    <br><br>

    <!-- For the message display -->
    {% if length != None %}
    <div style="display: flex;flex-wrap: wrap;">
        {% for i in fetchedList %}
            <div class="fetchllist onhover" style="background-image: url('/static/images/{{ i .backgroundimage }}'); background-size: cover;">
                <div style="word-wrap: break-word;">
                    <h6>{{ i.message }}</h6>
                    <h6 style="padding-top: 5%;">{{ i.loginuser.capitalize() }}</h6>
                    <form action="{{ url_for('delete_post', id=i.id ) }}" method="GET">
                        <button class=" btn btn-danger">Delete</button>
                    </form>
                </div>
                
            </div>
            
                                  
        {% endfor %}
    </div>                
    {% endif %}  
{% endblock %}