<!DOCTYPE html>
<html lang="en">
<head>
	<title>Your Words</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{{ url_for('recover')}}" method="POST">
					<span class="login100-form-title p-b-43">
                        Your Words
                        <p>Please submit your username to fetch your password.</p>
					</span>			
					
								<!--For the email text box-->
								<div class="login-wrap-input100 validate-input">
									<input class="input100 has-val" type="text" name="recovery_username">
									<span class="focus-input100"></span>
									<span class="label-input100">Username</span>
								</div>
								<!--For the remember me and Forgot password-->
						
								<div class="container-login100-form-btn">
									<button type="submit" class="login100-form-btn">
										Submit
									</button>
								</div>
								<br>
								
								{% if message != None %}
									{% if "Success" in message %}
										Password: {{ password }}
									{% else %}
										{{ message }}
									{% endif %}
                                {% endif %}
				</form>
				

				<div class="login100-more" style="background-image: url('static/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	

</body>
</html>